#app-festivite {
    display: grid;
    grid-template-columns: 32.79% 67.21%;
    margin-inline: 1.25rem;
    margin-top: 1.25rem;

    aside {
        margin-right: 1.25rem;
    }

}

#brand {
    background-image: url(../assets/Background.png);
    background-repeat:round;
    border-radius: .75rem;
    height: calc(100vh - 40px);
    padding: 2rem 2rem;

    img {
        width: 2.865rem;
        height: 3rem;
        margin-bottom: 1rem;
    }

    h1 {
        font:var(--logo);
        color:#FF598B;
        margin-bottom: .25rem;
    }

    span {
        font:300 1rem var(--font-family-opensans);
        color: var(--text-heading);
    }
}