#app-festivite {
    display: grid;
    grid-template-columns: 32.79% 67.21%;
    overflow: hidden;
    margin: 20px;

    aside {
        height: calc(100vh - 40px);
        margin-right: 20px;
    }

    main {
        height: calc(100vh - 40px);
    }
}

#brand {
    background-image: url(../assets/Background.png);
    background-repeat:round;
    height:100%;
    border-radius: 12px;
}

#invite {
    background-color:var(--shape-body);
    overflow: auto;
    scrollbar-width:none;
    height: 100%;
    border-radius: 12px;

    padding: 10px;

    font-size: 100px;
    color: aliceblue;
}