#invite {
    background-color:var(--shape-body);
    overflow: auto;
    scrollbar-width:none;
    border-radius: 12px;
    height: calc(100vh - 40px);

    display: flex;
    justify-content: center;

    padding-top: 80px;
}


.container {
    width:68.29%;

    h2{
        font: var(--heading-md);
        color: var(--text-heading);
    }

    form {
        margin-top: 40px;
    }

    fieldset {
        border: none;

    }

    input[type="datetime-local"]{
        text-transform: uppercase;

        &::-webkit-calendar-picker-indicator {
            opacity: 0;
        }
    }

}

.input-wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;

    label{
        font: var(--body-sm-regular);
        color: var(--text-body);
        margin-bottom: 16px;
    }
   
    input {
        height: 48px;
        border-radius: 8px;
        background-color: var(--input-base);
        border: 1px solid var(--input-stroke);
        padding-left: 16px;
        font:var(--body-md-regular);
        color:var(--input-placeholder);
       
    }

}

.input-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 16px;
}

#input-selection {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items:center;
    column-gap: 4px;
    padding-inline:4px;
    height: 48px;
    border-radius: 8px;
    background-color: var(--input-base);
    border: 1px solid var(--input-stroke);


    .selection {
        height: 40px;
        border-radius: 8px;
        /* background-color: var(--input-base); 
        border: 1px solid var(--input-stroke); */
        position: relative;

        & input{
            position: absolute;
            width: 100%;
            height: 100%;
            opacity: 0;
        }

        &:has(:checked){
            background-color:var(--input-stroke);
        }

    }    

}