@import url(field/fieldset-1.css);
@import url(field/fieldset-2.css);
@import url(field/fieldset-3.css);
@import url(field/fieldset-4.css);

#invite {
    background-color:var(--shape-body);
    overflow: auto;
    scrollbar-width:none;
    border-radius: 12px;
    height: calc(100vh - 40px);

    display: flex;
    justify-content: center;

    padding-top: 80px;
}


.container {
    width:68.29%;

    h2{
        font: var(--heading-md);
        color: var(--text-heading);
    }

    form {
        margin-top: 40px;
    }

    fieldset {
        border: none;

    }
}

