footer{
    border-top: 1px solid var(--input-stroke);
    padding-top: 40px;
    flex-direction: column;
    margin-bottom: 80px;

    .checkbox-wrapper {
        display:flex;
        margin-bottom: 8px;

        input{
            appearance: none; 
        }

        input + label:before {
            content:"";
            width: 20px;
            height: 20px;
            border: 1px solid var(--input-stroke);
            border-radius: 4px;
            background: var(--input-base);
            display: inline-block;
            vertical-align:middle; 
            margin-right: 12px;
            margin-bottom: 3px;   
        }

        input:checked + label:before {
            border: 1px solid var(--brand-light);
            background-image: url(../../assets/icon/check.svg);
            background-position: center;
        }

        label {
            font: var(--body-sm-regular);
            color: var(--text-body);

            a {
                text-decoration: none;
                font: var(--body-sm-semibold);
                color: var(--brand-light);
                text-decoration: underline;
            }
        }
    }

    .button {
        justify-content: end;
    }

    #button-invitation {
        width: 177px;
        height: 48px;
        margin-top: 48px;
        border: 0;
        padding-left: 20px;
        background-color: var(--brand-dark);
        background-image: url(../../assets/icon/ticket.svg);
        background-repeat:no-repeat ;
        background-position:19px 14px;
        background-size:20px;
        color: var(--text-header);
        border-radius: 8px;
        font: var(--body-md-semibold);
        color: var(--text-heading);

        &:hover {
            background-color: var(--brand-mid);
        }

    }
}